{% extends "layout.html" %}
{% block title %}Specific title{% endblock %}
{% block body %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h2>完成！ドリームハウスを見流さないために...</h2>
  <p>完成！ドリームハウスの放送予定を定期的に探して、見つかった場合に通知をします。なるべくちゃんと探そうとしますが、もしかしたら見つけられないかもしれません。そのときはごめんなさい。</p>
</div>
<!-- Small grid -->
<div class="row">
  <div class="span6">
    <h2>メールアドレス</h2>
    <p>まだ登録されていなければ登録を、すでに登録されていたら削除を行おうとします。確認メールを送信しますので、メールチェックをお願いします。</p>
    <form method="POST" action="/register_address" class="well">
      <div class="control-group">
        {% if error %}
        <fieldset class="control-group error">
        {% endif %}
        <label class="control-label" for="inputIcon">メールアドレス</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span><input class="span4" id="inputIcon" type="text" name="email_address" placeholder="foo@example.com" value="{{ addr }}" />
          </div>
        </div>
        {% if error %}
              <span class="help-block">{{ error }}</span>
        {% endif %}
        {% if error %}
        </fieldset>
        {% endif %}
      </div>
      <button type="submit" class="btn">送信</button>
    </form>
  </div>
  <div class="span6">
    <h2>Twitter</h2>
    <p>まだ登録されていなければ登録を、すでに登録されていたら削除を行おうとします。</p>
    <p><strong>Comming soon.</strong></p>
  </div>
</div>
{% endblock %}
