.month {
  height: 900px;
}

.demo	{
	background: #EEE;
	border:2px solid #999; 
	padding: 10px;
	margin-bottom:10px;
	text-align: center;
}
.demo1	{
	-webkit-border-radius: 10px;	/* Safari,Google Chrome—p */
	-moz-border-radius: 10px;	/* Firefox—p */
}

